<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\about.css">
    <title>Welcome to Social Network Ads Purchase Predictor</title>
</head>
<body>
    <nav>
        <h1>Social Network Ads Purchase Predictor</h1>
    </nav>
    <div id = 'Middle'>
        <h2 id="para">Social Ads Predictor</h2>
        <p>Introducing our innovative software that transforms data into insightful predictions – a powerful tool designed to revolutionize decision-making in the realm of consumer behavior. This sophisticated application employs cutting-edge machine learning technology, specifically the Random Forest Classifier algorithm, to analyze key factors such as gender, salary, and age. With a remarkable 92% accuracy rate, this software harnesses the predictive prowess of machine learning to determine whether an individual is likely to make a purchase.

            Imagine having a crystal ball for consumer trends – our software sifts through vast datasets, discerning patterns and correlations that may elude human analysis. By seamlessly integrating demographic information, it provides businesses with valuable insights, enabling them to tailor their strategies and offerings to target audiences more effectively. The Random Forest Classifier, a robust algorithm within the machine learning landscape, ensures the precision and reliability of the predictions, contributing to the software's impressive accuracy.
            
            In a world where understanding consumer behavior is paramount, our software stands as a beacon of innovation, offering businesses a competitive edge by optimizing their marketing and sales efforts. Embrace the future of decision-making with confidence, as our software guides you through the intricate dance of data, revealing the hidden rhythms of consumer preferences and propelling your business toward success.</p>
    </div>
    <div id="Listing">
        <li class="About"><h2><a href="/">Home</a></h2></li>
        <li class="predict"><h2><a href="/predict">Predictor</a></h2></li>
</div>
</body>
</html>