<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\home.css">
    <title>Welcome to Social Network Ads Purchase Predictor</title>
</head>
<body>
    
    <nav>
        <h1>Social Network Ads Purchase Predictor</h1>
    </nav>
    <div id = 'Middle'>
        <h2 id="para">Social Ads</h2>
        <p>Social ads are like digital butterflies fluttering through the garden of your online experience. With their vibrant colors and enticing messages, they gracefully capture your attention as you scroll through your favorite social media platforms. These ads are carefully crafted to seamlessly blend into your feed, offering products, services, or messages tailored to your interests and needs. Like friendly whispers from brands you love, social ads invite you to explore, engage, and sometimes even transform your digital journey into something unexpectedly delightful.</p>
    </div>
    <div id="Listing">
        <li class="predict"><h2><a href="/predict">Predictor</a></h2></li>
        <li class="About"><h2><a href="/about">About Software</a></h2></li>
        
</div>
</body>
</html>